<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Guru99Bank">
   
  
  <listeners>
			<listener class-name="listeners.Listeners" />
	</listeners>
	
	<test name="Guru99 Bank App Test Cases">
    <classes>
      <class name="swagLabs.testCases.NewCostomerLinkTest"></class>
      <class name="swagLabs.testCases.VerifyAddNewCustomer"></class>
      <class name="swagLabs.testCases.LoginPageDataTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

